<h1>Novo Sabor</h1>

<%= render "form" %>

<hr />

<table border="1">
  <tr>
    <th>Nome</th>
    <th>Opcoes</th>
  </tr>
  <% @flavors.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <td>
        <%= link_to "Editar", edit_flavor_path(f) %> |
        <%= link_to "Excluir", f, method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
