<h1>Novo Pedido</h1>

<% Product.all.each do |p| %>
  <li><%= link_to p.name, add_orders_path(id: p.id), remote: true %></li>
<% end %>

<br /><br />

<%= link_to "Salvar", :orders, method: :post %>

