<% content_for(:header) do %>
  <h1>Mesas</h1>
<% end %>

<div id="tables">
  <ul class="tables">
    <% @tables.each do |t| %>
      <li style="background: <%= t.return_table_color %> !important;">
        <%= link_to t.customId, categories_path(table_id: t.id, custom_id: t.customId) %>
      </li>
    <% end %>
  </ul>
</div>
