<% content_for(:header) do %>
  <h1>Mesas</h1>
<% end %>

<ul class="tables">
  <% @tables.each do |t| %>
    <li style="background: <%= t.return_table_color %>">
      <%= link_to t.customId, categories_path(table_id: t.id, custom_id: t.customId) %>
    </li>
  <% end %>
</ul>
