<h1>Nova Mesa</h1>

<%= form_for @table do |f| %>
  <%= f.text_field :customId, placeholder: "Numero" %>
  <br />
  <%= f.text_field :seats, placeholder: "Qnt Assentos" %>
  <br />
  <%= f.submit %>
<% end %>
