$header-color: #4db6ac;
$qnt-color:    #009688;

.absolute-right { position: absolute; right: 10px; top: 10px; }
.absolute-left { position: absolute; left: 10px; top: 10px; }
.page { background: #F1F1F1 !important; }

a.black { color: #000 !important; }

.header {
  background: $header-color;
  text-align: center;
  padding: 10px;
  position: relative;

  h1 {
    font-size: 17px;
    color: #FFF;
    text-shadow: none;
    margin: 0px;
  }

  .qnt {
    position: relative;
    top: -5px;
    display: table-cell;
    border-radius: 100px;
    height: 25px;
    width: 30px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    background: $qnt-color;
  }

  a.qnt-link {
    text-decoration: none;
    text-shadow: none;
    color: #FFF !important;
    font-weight: normal;
  }

  a.back-link {
    color: #FFF !important;
    text-shadow: none;
  }
}

.options-product-name {
  padding: 10px;
  background: #FFF;
  margin: -15px -15px 10px -15px;
  border-bottom: 1px solid #ddd;
  color: #666;

  & b { color: #000; float: right; }
}
