// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.options-product-name {
  padding: 10px;
  background: #FFF;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;

  & b { color: red; }
}
