// Place all the styles related to the summaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-summary {
  padding: 5px;
  text-decoration: none;
  color: #FFF !important;
  text-shadow: none !important;
}

.green { background: green; }
.red { background: red; }
