// Place all the styles related to the summaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-summary {
  width: 25px;
  text-decoration: none;
  text-align: center;
  text-shadow: none !important;
  font-size: 20px;
  display: inline-block;
  margin-right: 20px;
  border-radius: 100px;
}

.green { background: #a5d6a7; color: #1b5e20 !important; }
.red { background: #ef9a9a; color: #b71c1c !important; }
.orange { background: #ffb74d; color: #e65100 !important; }
