<div align="center" class="categories" data-type="<%= params[:category] %>">
  <%= link_to "Cozinha", shower_index_path(category: "Pizzas") %> | 
  <%= link_to "Bebidas", shower_index_path(category: "Bebidas") %> | 
  <%= link_to "Petiscos", shower_index_path(category: "Petiscos") %>
</div>

<br />

<div class="orders"></div>
