<% content_for(:header) do %>
  <%= link_to "", :tables, class: "ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all" %> 
  <h1>Mesa <%= current_table %></h1>
<% end %>

<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Procurar">
  <li data-role="list-divider">Categorias</li>
  <% @categories.each do |c| %>
    <li><%= link_to c.name, products_path(id: c.id, type: c.name) %></li>
  <% end %>
</ul>

<% content_for(:footer) do %>
  <%= link_to "Salvar", :orders, method: :post, class: "ui-btn ui-btn-inline" %>
<% end %>
