<% content_for(:header) do %>
  <%= link_to "", :categories, class: "ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all" %>
  <h1>Mesa <%= current_table %></h1>
<% end %>

<% if params[:type] == "Pizzas" %>
  <%= render "pizza" %>
<% else %>
  <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Procurar">
    <li data-role="list-divider">Produtos</li>
    <% @products.each do |p| %>
      <li><%= link_to p.name, add_orders_path(id: p.id), remote: true %></li>
    <% end %>
  </ul>
<% end %>
