<% content_for(:header) do %>
  <%= link_to "", :categories, class: "ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all" %>
  <h1>Mesa <%= current_table %></h1>
<% end %>

<% if params[:type] == "Pizzas" %>
  <%= render partial: "pizza", locals: { flavors: @flavors }%>
<% else %>
  <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Procurar">
    <% @products.each do |p| %>
      <li><%= link_to p.name, options_products_path(id: p.id) %></li>
    <% end %>
  </ul>
<% end %>
