<div data-role="page" id="page2">
  <div data-role="header">
    <%= link_to "", :categories, class: "ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all" %>
    <%= link_to "CREATE", :orders, method: :post, class: "ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all" %>
    <h1>Produtos</h1>
  </div>

  <div role="main" class="ui-content">
    <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Procurar">
      <% @products.each do |p| %>
        <li><%= link_to p.name, add_orders_path(id: p.id), remote: true %></li>
      <% end %>
    </ul>
  </div>
</div>

